@CHARSET "ISO-8859-1";

.welcome{
   font-family: Arial;
   font-size:30px;
   color: green;
   font-weight: Bold;
}
.signup{
   font-family: Arial;
   font-size:25px;
   color: blue;
   font-weight: Bold;
}
.upload{
   font-family: Arial;
   font-size:25px;
   color: green;
   font-weight: Bold;
}
.check{
   font-family: Arial;
   font-size:25px;
   color: red;
   font-weight: Bold;
}
.accesso{
   font-family: Arial;
   font-size:25px;
   color: purple;
   font-weight: Bold;

}
.signin{
   font-family: Arial;
   font-size:25px;
   color: red;
   font-weight: Bold;
}

.account{
   font-family: Arial;
   font-size:25px;
   color: blue;
   font-weight: Bold;
}
.username{
   font-family: Arial;
   font-size:20px;
   color: green;
   font-weight: Bold;
}
.password{
   font-family: Arial;
   color: yellow;
   font-size:20px;
   font-weight: Bold;
}
.email{
   font-family: Arial;
   color: red;
   font-size:20px;
   font-weight: Bold;
}
.button {
    background-color: #ccc;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius:6px;
    color: #fff;
    font-family: 'Oswald';
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
    border:none;
}
.button:hover {
    border: none;
    background:red;
    box-shadow: 0px 0px 1px #777;
}

#submit {
    background-color: #ccc;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius:6px;
    color: #fff;
    font-family: 'Oswald';
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
    border:none;
}
#submit:hover {
    border: none;
    background:red;
    box-shadow: 0px 0px 1px #777;
}